<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DownloadPath" value="" />
		<add key="PlaylistBaseUrl" value="https://www.youtube.com/playlist?list=" />
		<add key="VideoBaseUrl" value="https://www.youtube.com/watch?v=" />

		<add key="ApiKey" value="" />
		<add key="ChannelID" value="" />
	</appSettings>
	<connectionStrings>
		<add name = "DBConnection" connectionString="Server=;Database=;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
